# Configuration file
.env
.htaccess

# WordPress debugging files & logs
*.log
debug.log
log.txt
logs/

# Composer / npm
/vendor
/wp
composer.phar
.vscode*
**/node_modules/

# ignore everything in the "wp-content" directory, except:
# "themes" directory
content/*
!content/uploads/.htaccess
!content/uploads/.gitkeep
!content/themes/
content/themes/eltigre/dist

# Others
.DS_Store
