.about{
    padding-top: 52px;
    .block__title{
        text-align: center;
    }
    .title__container{
        max-width: 250px;
        width: 100%;
        position: relative;
        left: -21px;

        .title__first-line{
            font-weight: normal;
            font-size: 57px;
            line-height: 51px;
            letter-spacing: 6.84px;
        }
        .title__second-line{
            font-weight: normal;
            font-size: 29px;
            line-height: 36px;
            letter-spacing: 3.48px;
            text-transform: uppercase;
        }
    }
}
.first-column__cta-wrapper{
    max-width: 213px;
    width: 100%;
    height: 213px;
    margin: 28px auto 0;
    vertical-align: middle;
    display: flex;
}
.second-column__cta-wrapper{
    max-width: 171px;
    width: 100%;
    height: 171px;
    margin: 28px auto 0;
    vertical-align: middle;
    display: flex;
}
.second-column__cta-wrapper{
    display: none;
    .cta--join-us{
        background-color: $white;
        padding: 65px 18px;
    }
}

.about__columns{
    display: flex;
    flex-flow: wrap row;
    max-width: 100%;
    width: 100%;
    justify-content: center;
    .text-and-2-columns__part{
        display: flex;
        flex-flow: wrap row;
        justify-content: center;
    }
    .first-column{
        max-width: 230px;
        width: 100%;
        margin-right: 34px;
        .first-column__description{
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.24px;
            font-family: "Optima", sans-serif;
            font-weight: bold;
        }
    }
    .second-column{
        max-width: 392px;
        width: 100%;
        margin-right: 18px;
        .block{
            padding: 49px 54px 60px 64px;
            margin-bottom:13px;
            background-size: cover;
            &:first-child{
                padding-bottom: 23px;
            }
        }
         
        .block__source{
            font-size: 7.5px;
            line-height: 9px;
            letter-spacing: 0;
            font-weight: normal;
            font-family: "Montserrat",sans-serif;
        }
    }
    .third-column{
        max-width: 392px;
        width: 100%;
        display: flex;
        align-items: flex-end;
        .block{
            border: 1px solid;
            padding: 45px 57px 36px;
            margin-bottom: 76px;
            .block__description p{
                margin-bottom: 18px;
            }
        }
    }
}
.block__stats {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 26px;
    .stat{
        max-width: 120px;
        width: 100%;
        margin: 25px 0;
        p{
            font-family: "Montserrat",sans-serif;
            font-size: 11px;
            font-weight: normal;
            letter-spacing:0;
            line-height: 13px;
            
            strong{
                display: inline-flex;
                align-items: center;
                font-family: "Optima",sans-serif;
                font-size: 53px;
                font-weight: bold;
                letter-spacing:0;
                line-height: 43px;
                margin-top: 6px;
                .percent{
                    font-size: 30px;
                    display: inline-block;
                    padding-bottom: 12px;
                }
            }
        }
        &:last-child{
            display: flex;
            flex-direction: row;

            p{
                max-width: 23px;
                width: 100%;
                text-align: center;
                strong{
                    display: inline-block;
                    font-size: 47px;
                    line-height: 30px;
                    .in{
                        font-size: 18px;
                        line-height: 22px;
                        padding-bottom: 15px;
                        display: inline-block;
                    }
                }
                &:last-child{
                    margin-left: 10px;
                    width: 100%;
                    max-width: 65px;
                    text-align: left;
                }
            }
        }
    }
}

@media screen and (max-width:1125px) {
    .about__columns {
        margin-top: 13px;
        .text-and-2-columns__part{
            flex-direction: column;
            align-items: center;
            .first-column{
                max-width: 255px;
                margin-right: 18px;
                 margin-bottom: 30px;
                 .first-column__cta-wrapper {
                     display: none;
                 }
            }
            .second-column__cta-wrapper{
                display: flex;
            }
        }
        .third-column{
            align-items: flex-start;
        }
    }
}
@media screen and (max-width:850px) {
    .about__columns{
        flex-direction: column;
        align-items: center;
        .text-and-2-columns__part{
            .first-column{
                margin: 6px auto 62px;
            }
            .second-column{
                margin-right: 0;

                .blocks{

                    .block:last-child{
                        position: relative;
                        transform: translateY(97%) !important;
                    }
                }
            }
        }
        .third-column{
            position: relative;
            transform: translateY(-95%) !important;
        }
    }
}
@media screen and (max-width:630px) {
    .about{
        margin-top: 0;
        padding-top: 28px;
        .title__container{
            left:-29px;
            max-width: 204px;
            .title__first-line{
                font-size: 46px;
                line-height: 38px;
                letter-spacing: 5.52px;
            }
            .title__second-line{
                font-size: 24px;
                line-height: 29px;
                letter-spacing: 2.98px;
            }
        }
        .first-column{
            .first-column__description{
                font-size: 10px;
                line-height: 12px;
                letter-spacing: 0.2px;
            }
        }
    }
}
@media screen and (max-width:520px) {
    .about{
        
        .about-wrapper{
            padding: 0 !important;

            .about__columns{
                .text-and-2-columns__part{

                    .first-column{
                        
                    }
                    .second-column{
                        max-width: 100%;
                        .blocks{
        
                            .block:last-child{
                                transform: translateY(88%) !important;
                            }
                        }
                    }
                }
                .third-column{
                    max-width: 100%;
                    transform: translateY(-101%) !important;
                    .block{
                        border: 0;
                    }
                }

            } 
        }
    }
}
@media screen and (max-width:360px) {
    .block__stats {

        .stat{
            max-width: 90px;
        }
    }
}
@media screen and (max-width:325px) {
    .about{
        margin-top: 0;
        .title__container{
            left:-29px;
            max-width: 200px;
            .title__first-line{
                font-size: 42px;
                line-height: 38px;
                letter-spacing: 5.52px;
            }
            .title__second-line{
                font-size: 20px;
                line-height: 29px;
                letter-spacing: 2.98px;
            }
        }
    }
}