.contact {
    padding-top: 71px;
    padding-bottom: 51px;
    .title__wrapper{
        align-items: flex-end;
    }
    .title__number{
        line-height: 85px;
    }
    .title__container{
        position: relative;
        left: -21px;
        
        .title__second-line{
            font-weight: normal;
            font-size: 64px;
            line-height: 49px;
            letter-spacing: 7.68px;
        }
    }
}
.contact__form{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 100%;
    width: 100%;
    margin: 132px 0 20px;
    padding:0 67.5px;
}
.textarea-wrapper,
.contact__input-wrapper{
    display: flex;
    flex-flow: column-reverse wrap;   
    margin-bottom: 27px;
}
.contact__form--right,
.contact__form--left{
    max-width: 47%;
    width: 100%;
}
.contact__input{
    max-width: 315px;
    width: 100%;
    padding: 5px 10px;
    border: 0;
    outline: none;
}
.contact__label{
    font-size: 16px;
    line-height: 14px;
    letter-spacing: 0.32px;
    font-family: "Optima", sans-serif;
    position: relative;
    margin-bottom: 16px;
    max-width: 315px;
    width: 100%;
    padding-bottom: 16px;
    border-bottom: 1px solid $black;
}
/** TEXT AREA**/

.contact__form--right .cta{
    float: right;
}
.textarea-wrapper textarea,
.contact__input-wrapper input {
    font-family: 'Optima', sans-serif;
}
.textarea-wrapper textarea{
    height: 222px;
    border: 0;
    outline: none;
    resize: none;
    padding: 10px 15px;
    }
.textarea-wrapper .contact__label{
    max-width: 100%;
}
.form__errors{
    font-family: 'Optima', sans-serif;
}


@media screen and (max-width:1024px) {
    .contact__form{
        padding:0 ;
    }
}
@media screen and (max-width:768px) {
    .contact__form{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contact__form--right, .contact__form--left{
        max-width: 100%;
    }
    .contact__input{
        max-width: 100%;
        padding: 7px 10px;
    }
    .contact__label{
        max-width: 100%;
    }
    .button__wrapper{
        text-align: center;
    }
    .contact__form--right .cta{
        float: none;
    }
}
@media screen and (max-width:630px) {
    .contact{
        padding-top:34px;
    }
    .contact__form {
        margin: 42px 0 20px;
    }
    .contact .title__container{
        left: -42px;    
    }
    .contact .title__container .title__second-line{
        font-size: 36px;
        line-height: 44px;
        letter-spacing: 4.32px;
    }
}
@media screen and (max-width:360px) {
    .contact .title__container .title__second-line{
        font-size: 29px;
    }
}