.contact {
    padding-top: 71px;
}
.contact__form{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 100%;
    width: 100%;
    margin: 20px 0;
    padding:0 67.5px;
}
.textarea-wrapper,
.contact__input-wrapper{
    display: flex;
    flex-flow: column-reverse wrap;   
    margin-bottom: 27px;
}
.contact__form--right,
.contact__form--left{
    max-width: 47%;
    width: 100%;
}
.contact__input{
    max-width: 315px;
    width: 100%;
    padding: 5px 10px;
    border: 0;
}
.contact__label{
    font-size: 16px;
    line-height: 14px;
    letter-spacing: 0.32px;
    font-family: "Optima", sans-serif;
    position: relative;
    margin-bottom: 16px;
    max-width: 315px;
    width: 100%;
    padding-bottom: 16px;
    border-bottom: 1px solid $black;
}
/** TEXT AREA**/

.textarea-wrapper textarea{
    height: 222px;
    border: 0;
}
.textarea-wrapper .contact__label{
    max-width: 100%;
}