.governance{

    .main-wrapper{
        position: relative;
        padding-top: 52px;
        padding-bottom: 60px;
        .cta-wrapper{
            position: absolute;
            right: 20px;
            bottom: -20px;
        }
    }

}



.governance-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .governance-content{
        border: 1px solid;
        padding: 30px;
        margin: 20px 0;
        font-weight: 400;
        font-size: 17px;
        line-height: 1.2;
        // letter-spacing: 3.2px;
        font-family: 'Optima',sans-serif;

        &.width-full{
            max-width: 100%;
            width: 100%;
        }
        &.width-demi{
            max-width: 560px;
            width: 100%;
        }
        .content-logo__container{
            display: flex;
            justify-content: center;
            align-items:center;
            margin-top: 30px;
            .logo{
                max-width:110px;
                width: 100%;
                margin: 10px;
            }
        }
        .content-title{
            margin-bottom: 30px;
            position: relative;
            &:after{
                content: '';
                height: 1px;
                width: 60px;
                background-color: #e1b920;;
                position: absolute;
                bottom: -20px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        .content-description{

        }
    }
}