.map {
    padding: 60px 20px;
    .map__container {
        position: relative;
        max-width: 700px;
        width: 100%;
        margin: auto;
    }
    
    img {
        width: 100%;
        height: auto;
        display: block;
    }

    .pin {
        position: absolute;
        z-index: 1;
        width: 1.3%;
        padding-bottom: 1.3%;
        background-color: $blue;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        transition: .2s ease;
        border: 0.21vw solid white;
        cursor: pointer;
        box-sizing: content-box;

        &:hover,
        &:focus {
            transform: translate(-50%, -50%) scale(1.5);
            box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
            z-index: 2;
        }
    }

    .tooltip {
        position: absolute;
        padding: 22px 25px;
        background-color: $white;
        width: 100%;
        max-width: 415px;
        top: 50%;
        left: 50%;
        opacity: 0;
        z-index: 3;
        box-shadow: 0px 13px 11px #00000029;

        @include tablet {
            left: 50% !important;
            transform: translate(-50%, 20px);
        }

        .tooltip__title {
            text-transform: uppercase;
            font-family: 'Montserrat';
            color: $blue;

            &:not(:last-child) {
                margin-bottom: 25px;
            }
        }
        
        .tooltip__content {
            line-height: 21px;
            color: $black;
            font-family: 'Optima';
            
            strong {
                font-weight: bold;
            }
        }
        
        .tooltip__footer {
            display: flex;
            justify-content: space-between;
        }
        
        .tooltip__links {
            font-weight: bold;
            line-height: 19px;
            font-family: 'Optima';
            
            a {
                display: block;
            }
            > :first-child {
                margin-top: 25px;
            }
        }

        .tooltip__logo {
            
            img {
                height: 72px;
                width: auto;
            }
        }
    }
}