
// DOM
$gridSize: 1130px;
$gridSizeLarge: 1280px;

// Font
$baseFontSize : 16;
$baseFontSizePx : 16px;

// Colors

$black : #000;
$white : #fff;
$moutarde : #E1B920;
$gold : #A38A41;
$lightgrey : #B6AC9A;
$grey : #D6D6D6;