.governance-short{
    position:relative;
    z-index:1;
    .main-wrapper{
        position: relative;
        padding-top: 52px;
        padding-bottom: 81px;
        .cta-wrapper{
            position: absolute;
            right: 20px;
            bottom: -20px;
        }
        .title__wrapper{

            .title-part{
                align-items: flex-end;
                .title__container{

                    .title__second-line{
                        font-size: 78px;
                        line-height: 98px;
                        letter-spacing: 0;  
						@include laptop{
							font-size: 46px;
							line-height: 1.7;
						}
						@include tablet{
							font-size: 30px;
						}
						@include mobile{
							font-size: 22px;
						}
                    }
                }
            }
        }
    }

}



.governance-short-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: auto;
    .governance-short-content{
        max-width: 100%;
        width: 100%;
        border: 1px solid;
        padding: 42px 30px 37px;
        margin: 20px 0;
        font-weight: 400;
        font-size: 17px;
        line-height: 1.2;
        // letter-spacing: 3.2px;
        font-family: 'Optima',sans-serif;
		@include tablet{
			padding: 21px 20px 25px;
		}

        .content-logo__container{
            display: flex;
            justify-content: center;
            align-items:center;
            margin-top: 30px;
            .logo{
                max-width:110px;
                width: 100%;
                margin: 10px;
            }
        }
        .content-title{
            font-size: 17px;
            line-height: 1.2;
            margin-bottom: 60px;
            position: relative;

			@include tablet{
				margin-bottom: 30px;
			}
			
            &:after{
                content: '';
                height: 1px;
                width: 60px;
                background-color: #e1b920;;
                position: absolute;
                bottom: -20px;
                left: 50%;
                transform: translateX(-50%);
				@include tablet{
					bottom: -12px;
				}
            }
        }
        .content-description{
            font-size: 16px;
            line-height: 1.2;
            font-family: "Optima", sans-serif;
            font-weight: 400;
            max-width: 940px;
            width: 100%;
            margin: auto;
            p{

                strong{
                    font-weight: 700;
                }
            }
			@include mobile{
				font-size: 14px;
			}
        }
        .content-logo__container{

            .logo{
                max-width: 150px;
                width: 100%;
                height: auto;
                margin: 10px 24px;
				@include mobile{
					margin:2px;
				}
            }
        }
    }
}
