.news{
	position:relative;
    z-index:1;
    .news__image{
        .main-wrapper{
            padding-top: 52px;
            padding-bottom: 160px;
            @include tablet{
                padding-bottom: 84px;
            }
        }
		.title__wrapper{

            .title-part{
                align-items: flex-end;
                .title__container{

                    .title__second-line{
                        font-size: 78px;
                        line-height: 98px;
                        letter-spacing: 0;  
						@include laptop{
							font-size: 46px;
							line-height: 1.7;
						}
						@include mobile{
							font-size: 22px;
						}
                    }
                }
            }
        }
    }
    .main-wrapper{
        position: relative;
        padding-bottom: 78px;
        @include mobile{
            padding-bottom: 20px;
        }
        .cta-wrapper{
            position: absolute;
            right: 20px;
            bottom: -20px;
        }
    }
    // .news__image{
    //     height: 702px;
    //     background-size: cover;
    //     background-repeat: no-repeat;
    //     padding: 95px 0 0;
    // }
}
.news-wrapper{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	margin-top: -130px;
	@include tablet{
		flex-direction: column;
		margin-top: -90px;
	}
	.tease{
		max-width: 49%;
		width: 100%;
		background-color: $opacgrey;
		position: relative;
		@include tablet{
			max-width: 100%;
			margin-bottom: 50px;
		}
		.post-link{
			position: absolute;
			width: 100%;
			height: 100%;
		}
		.post-thumbnail__wrapper{
			img{
				height: 304px;
				-o-object-fit: cover;
				   object-fit: cover;
				-o-object-position: center;
				   object-position: center;
				max-width: 100%;
				width: 100%;
			}
		}
		&:hover{
			.post-cross-button{
				position: absolute;
				background-color: $white;
				border: 1px solid $darkbrown;
				transition: all .4s ease-in-out;
				
				&::before{
					background-color: $darkbrown;
				}
				&::after{
					background-color: $darkbrown;
				}
			}
		}	
		.post-content__wrapper{
			padding: 30px 40px 65px;
			@include tablet{
				padding: 20px;
			}
			.post-content__head{
				display: flex;
				justify-content: space-between;
				font-size: 15px;
				line-height: 1.2;
				font-family: "Montserrat", sans-serif;
				font-weight: 400;
				margin: 15px 0;
				@include mobile{
					display: none;
				}
			}
			.post-content__title{
				font-size: 27px;
				line-height: 1.2;
				font-family: "Optima", sans-serif;
				font-weight: 700;
				margin-bottom: 20px;
				@include mobile{
					font-size: 16px;
				}
			}
			.post-content__excerpt{
				font-size: 16px;
				line-height: 1.4;
				font-family: "Optima", sans-serif;
				font-weight: 400;
				@include mobile{
					font-size: 14px;
				}
			}

		}
		.post-cross-button{
			transition: all .4s ease-in-out;
			position: absolute;
			border: 1px solid transparent;
			background-color: $darkbrown;
			width: 42px;
			height: 42px;
			border-radius: 25px;
			bottom: -21px;
			left: 50%;
			transform: translateX(-50%);
			@include tablet{
				width: 16px;
				height: 16px;
				bottom: -8px;
			}
			&::before{
				content: "";
				position: absolute;
				background-color: $white;
				width: 16px;
				height: 2px;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);	
				@include tablet{
					width: 8px;
					height: 1px;
					
				}
			
			}
			&::after{
				content: "";
				position: absolute;
				background-color: $white;
				width: 16px;
				height: 2px;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%) rotate(90deg);
				@include tablet{
					width: 8px;
					height: 1px;
					
				}

			}
			.post-cross-link{
				position: absolute;
				width: 100%;
				height: 100%;
			}
		}
	}
}

.posts__search--mobile,
.page-load-status {
    display: none;
}
.load-more-wrapper{
    text-align: center;
    margin-top: 48px;
    margin-bottom: 66px;
    .load-more{
        padding: 7px 29px 4px 29px;
    }
}

.load-more-wrapper {
    text-align: center;
    margin-bottom: 50px;
}

.loader-ellips {
font-size: 20px; /* change size here */
position: relative;
width: 4em;
height: 1em;
margin: 10px auto 50px;
}

.loader-ellips__dot {
display: block;
width: 1em;
height: 1em;
border-radius: 0.5em;
background: #555; /* change color here */
position: absolute;
-webkit-animation-duration: 0.5s;
        animation-duration: 0.5s;
-webkit-animation-timing-function: ease;
        animation-timing-function: ease;
-webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
}

.loader-ellips__dot:nth-child(1),
.loader-ellips__dot:nth-child(2) {
left: 0;
}
.loader-ellips__dot:nth-child(3) { left: 1.5em; }
.loader-ellips__dot:nth-child(4) { left: 3em; }

@-webkit-keyframes reveal {
from { transform: scale(0.001); }
to { transform: scale(1); }
}

@keyframes reveal {
from { transform: scale(0.001); }
to { transform: scale(1); }
}

@-webkit-keyframes slide {
to { transform: translateX(1.5em) }
}

@keyframes slide {
to { transform: translateX(1.5em) }
}

.loader-ellips__dot:nth-child(1) {
-webkit-animation-name: reveal;
        animation-name: reveal;
}

.loader-ellips__dot:nth-child(2),
.loader-ellips__dot:nth-child(3) {
-webkit-animation-name: slide;
        animation-name: slide;
}

.loader-ellips__dot:nth-child(4) {
-webkit-animation-name: reveal;
        animation-name: reveal;
animation-direction: reverse;
}


.news-wrapper.only-one-post {
    justify-content: center;
}