 
.no-scroll{
  overflow: hidden;
}
.nav--right__links{
  display: flex;
  position: relative;
}
.return--link{
  display: none;
  cursor: pointer;
}

.menu-link {
  position: absolute;
  right: 0;
  top: 63px;
  cursor: pointer;
  
}


#site-header {
  // background-color: deeppink;
  position: absolute;
  max-width: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 3;
  &.sticky{
      .header-content {
          height: 100px;
          transition: opacity .2s ease-in-out, height .2s ease-in;
          .main-logo{
              max-width: 190px;
              width: 100%;
              transition: all 0.2s ease-in;
          }
      }
  }
  .header-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 126px;
      transition: opacity .2s ease-in-out, height .2s ease-in;
      position: relative;
      // background-color: darkorange;
      .header--menu-container{
          max-width: 430px;
          width: 100%;
          height: 32px;
          ul{
              display: flex;
              justify-content: space-around;
              max-width: 100%;
              width: 100%;
              li{
                  letter-spacing: 1px;
                  position: relative;
                  a{
                      font-size: 16px;
                      font-family: "optima", sans-serif;
                      position: relative;
                      color: $white;
                      font-size: 16px;
                      &:hover{
                          color: blue;
                      }
                  }
                  &::after{
                      content: '';
                      transition: transform .2s ease-in-out;
                      position: absolute;
                      transform: scale(0,0);
                      height: 6px;
                      opacity: 0;
                      max-width: 100%;
                      width: 100%;
                      background-size: cover;
                      background-position: center center;
                      bottom: -10px;
                      left: 0;
                      right: 0;
                      
                  }
                  &:hover,
                  &.current_page_item { 

                      &::after {
                          transform: scale(1,1);
                          opacity: 1;
                          transition: opacity .5s ease-in-out;
                          max-width: 100%;
                          width: 100%;
                          margin: 0 auto;
                          
                          @media screen and (max-width: 980px) {
                              bottom: -18px;
                          }
                      }
                  }
                  &.menu-link {
                      top: -7px;
                      cursor: pointer;
                      // display: none; // A enlever apres validation des clientes    
                      
                      &::after{
                          content: none;
                      }
                  }
              }
          }
      }
      .main-logo{
          max-width: 240px;
          width: 100%;
          transition: all .2s ease-in;
          img{
              height: auto;
          }
      }
  }
}
.header--mobile {
  display: none;
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
}
.xoo-wsc-basket{
  display: none !important;
}
/****************** MEDIA QUIERIES HEADER ************/
@media screen and (max-width: 1110px){
  .menu-cart--mobile {
      right: auto;
      left: 0px;
      top: 8px;
      // display: none; // A enlever une fois l'eshop validé
      .cart__item{
          position: relative;
      }
      svg {
          height: 29px;
          width: 29px;
          fill: currentColor;
      }
      .cart-items__count{
          position: absolute;
          top: 8px;
          right: -2px;
          font-size: 16px;
          background-color: blue;
          padding: 3px 6px;
          border-radius: 50px;
          color: white;
      }
  }
  #site-header{

      .header-content{
          left: 0;
          margin: 0;
          flex-direction: column;
          transition: opacity .4s ease;
          width: 100%;
          opacity: 0;
          transform: translateX(-100%);
          align-items: center;
          justify-content: center;
          background-color: transparent;
          height: 133px;
          position: fixed;

          .header--menu-container{
              max-width: 100%;
              display: block;
              height: auto;
              ul{
                  flex-flow: column wrap;
                  text-align: center;
                  li{
                      text-align: center;
                      margin: 12px auto;
                      a{
                          color: black;
                          font-size: 22px;
                      }
                      &:hover,
                      &.current_page_item {

                          &::after {
                              transform: scale(1,1);
                              transition: transform .4s ease-in-out;
                              max-width: 100%;
                              bottom: -10px;
                          }
                      }
                      &.menu-link {
                          display: none;
                      }
                  }
              }
          }
          .main-logo{
              display: none;
          }
      }
      &.active{

          .header-content{
              display: flex;
              opacity: 1;
              transform: translateX(0);
              height: 100%;
              padding-top: 100px;
              transition: opacity 1s ease, transform 1s ease;
          }
      }
      &.disabled{
          .header-content{
              display: flex;
              opacity: 0;
              transform: translateX(-100%);
              height: 100%;
              transition: opacity 1s ease, transform 1s ease;
              padding-top: 100px;
          }
      }
  }
  .header--mobile {
      display: block;
      position: relative;
      width: 80%;
      margin: auto;
      .return--link{
          display: none;
      }
  }
  .main-logo--mobile{
      margin: 36px auto;
      max-width: 155px;
      width: 100%;
          img{
              height: 100%;
          }
  }
  .site__burger-menu{
      display: inline-block;
      width: 52px;
      height: 64px;
      position: absolute;
      top: -15px;
      right: -5%;
      .burger-menu__wrapper{
          position: relative;
          top: 40px;
          right: 0px;
          width: 34px;
          height: 20px;
          margin-left: 16px;
          transform: translateY(-50%);
          cursor: pointer;
          .burger-menu__line{
              position: absolute;
              left: 0;
              width: 100%;
              height: 3px;
              transition: all 0.2s ease;
              transform: translateY(-50%);
              background-color: #316F84;
              border-radius: 50px ;

              &:first-child{
                  top: 0%;
              }
              &:nth-child(2){
                  top: 50%;
              }
              &:last-child{
                  top: 100%;
              }
          }
          &.cross{
              .burger-menu__line{

                  &:first-child{
                      top: 45%;
                      transform: rotate(45deg);
                  }
                  &:nth-child(2){
                      display: none;
                  }
                  &:last-child{
                      top: 45%;
                      transform: rotate(-45deg);
                  }
              }
          }
      }
  }
  .menu-link svg {
      height: 30px;
      width: 30px;
      fill: currentColor;
  }
}
@media screen and (max-height: 770px){
  #site-header.active{

      .header-content {
          padding-top:100px;
          .header--menu-container{
              
              ul{
                  
                  li{
                      margin: 12px auto;
                      a{
                          color: $black;
                          font-size: 22px;
                      }
                  }
              }
          }
      }
  }
}
