[data-popup] {
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  left: -9999px;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .2);
  z-index: -9999;
  font-family: "Optima", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
  width: 100vw;
  
  &.active {
    z-index: 9999;
    left: 0;
  }

  .modal-wrapper {
    overflow: auto;
    margin: 100px auto;
    max-width: 1200px;
  }

  .modal-content {
    background-color: $white;
    padding: 45px;
    position: relative;

  }

  .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 30px;
    cursor: pointer;

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      height: 2px;
      width: 50%;
      background-color: $black;
    }

    &:before {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    &:after {
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }
}
.modal-content p{
  margin-bottom: 20px;
  a{
    font-weight: bold;
  }
}
.apply-content__columns .column__critera .event__cta-wrapper .modal-content a:after{
  content: none;
}

.splash__modal {
  position: absolute;
  width: 80%;
  max-width: 700px;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  background: #fff;
  overflow: scroll;
  height:auto;
  max-height: 100%;
}

.modal__btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 32px;
  background: #9c271e;
  cursor: pointer;
}

.modal__btn:before, .modal__btn:after {
  content: '';
  position: absolute;
  top: 6px;
  left: 15px;
  height: 60%;
  width: 2px;
  background-color: #fff;
}

.modal__btn:before {
  transform: rotate(45deg);
}

.modal__btn:after {
  transform: rotate(-45deg);
}

.open {
  z-index: 12;
  visibility: visible;
}

.closed {
  z-index: -12;
  visibility: hidden;
}