<section id="{{ section.first_line_title.title|sanitize }}" class="about-short" data-midnight="light">
    
    {% include 'partial/title.twig' %}

    <div class="main-wrapper about-short-wrapper">
        
    </div>
</section>