<section id="{{ section.first_line_title.title|sanitize }}" class="simple">
    {% include 'partial/title.twig' %}
    <div class="main-wrapper simple__wrapper">
        {{ section.content }}
    </div>
</section>
