
// DOM
$gridSize: 1170px;
$gridSizeLarge: 1280px;

// Font
$baseFontSize : 16;
$baseFontSizePx : 16px;

// Colors

$black : #292929;
$text : #5C504B;
$white : #fff;
$moutarde : #E1B920;
$brown : #CBA08C;
$darkbrown :#AD6950;
$darkviolet : #5D3F4D;
$violet : #A84C76;
$gold : #A38A41;
$grey : #D6D6D6;
$opacgrey : #F8F8F8;
$lightgrey : #B6AC9A;
$blue : #4C8093;
